<!-- Footer -->
<footer class="text-md-left text-center p-4 bg-dark text-light" id="contact">
  <div class="container">
    <div class="row">
      <div class="my-3 col-lg-4 col-md-6">
        <h3>Montclair Hackathon</h3>
        <p class="text-muted">{{eventDate}}</p>
        <p class="my-3">
          <a href="https://goo.gl/maps/ayn28vkB5F92" target="blank" class="text-muted">1 Normal Ave, Montclair, NJ
            07043</a>
        </p>
        <button id="open-popup" class="btn btn-lg btn-primary" onclick="showMailingPopUp()">Register now</a>
      </div>
      <div class="my-3 col-lg-4 col-md-6">
        <h3>Contact us</h3>
        <form>
          <fieldset class="form-group my-3">
            <input type="email" class="form-control" id="Input Email" placeholder="Email"> </fieldset>
          <fieldset class="form-group my-3">
            <input type="message" class="form-control" id="Input Message" placeholder="Message"> </fieldset>
          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
      </div>
      <div class="col-lg-1"> </div>
      <div class="my-3 col-lg-3">
        <h3>Follow</h3>
        <a href="" target="blank"><i class="fab fa-facebook-square text-muted fa-3x m-2"></i></a>
        <a href="" target="blank"><i class="fab fa-twitter-square text-muted fa-3x m-2"></i></a>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-muted">© 2018 Copyright:
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Montclair Computer Club</a></p>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->