<footer class="text-center p-2 bg-dark text-light" id="footer">
  <div class="container">
    <div class="row text-md-left">
      <div class="col-md-6 footcol2">
        <h3>Stay in touch</h3>
        <a class="fbbt" href="" target="blank"><i class="fab fa-facebook"></i></a>
        <a class="twbt" href="" target="blank"><i class="fab fa-twitter"></i></a>
        <a class="igbt" href="https://www.instagram.com/msucomputerclub/" target="blank"><i class="hover fab fa-instagram"></i></a>
      </div>
      <div class="col-md-6 footcol3">
        <h3>Montclair Hackathon</h3>
        <div class="innerfooter">
          <div class="devider">
            <a href="https://goo.gl/maps/ZjGkX8oexvo" target="blank" class="text-muted">1 Normal Ave, Montclair,
              NJ
              07043</a>
          </div>
          <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Pre-Register
            Now</button>
        </div>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12 copyright">
        <p class="text-muted">© 2018 Copyright:
          <a href="https://www.montclaircomputerclub.com/">Montclair Computer Club</a></p>
      </div>
    </div>
  </div>
</footer>