<footer class="text-center p-4 bg-dark text-light" id="footer">
  <div class="container">
    <div class="row text-md-left">
      <div class="col-md-4">
        <ul>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#faq">FAQ</a>
          </li>
          <li>
            <a href="#">HackHawk</a>
          </li>
          <li>
            <a href="#sponsors">Sponsors</a>
          </li>
          <li>
            <a href="#contact">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Stay in touch</h3>
        <a href="" target="blank"><i class="fab fa-facebook-square text-muted fa-3x m-2"></i></a>
        <a href="" target="blank"><i class="fab fa-twitter-square text-muted fa-3x m-2"></i></a>
        <a href="" target="blank"><i class="fab fa-instagram text-muted fa-3x m-2"></i></a>
      </div>
      <div class="col-md-4" style="text-align:center;">
        <h3>Montclair Hackathon</h3>
        <div class="innerfooter">
          <div class="devider">
            <a href="https://goo.gl/maps/ayn28vkB5F92" target="blank" class="text-muted">1 Normal Ave, Montclair,
              NJ
              07043</a>
          </div>
          <a id="popup2" class="btn btn-lg btn-primary" target="_blank">Pre-register
            now</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="text-muted">© 2018 Copyright:
          <a href="https://www.montclaircomputerclub.com/">Montclair Computer Club</a></p>
      </div>
    </div>
  </div>
</footer>