<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130769180-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-130769180-1");
  </script>
  <meta charset="utf-8" />
  <title>HawkHack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- PAGE settings -->
  <link rel="icon" href="" />
  <meta name="description" content="Montclair State Hackathon" />
  <meta name="keywords" content="montclair state university hackathon hackhawk" />
  <!-- Adding bootstrap, custom css files, and fontawsome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />

  <link rel="stylesheet" href="css/admin.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
</head>

<body>
  <div class="mypanel py-5" id="mypanel" style="color:black; background-color: white;">
    <div class="row text-center my-3 header">
      <div class="col-md-2">Index</div>
      <div class="col-md-2">Name</div>
      <div class="col-md-2">Email</div>
      <div class="col-md-2">School</div>
      <div class="col-md-2">Shirt Size</div>
      <div class="col-md-2">Food</div>
    </div>
    <div id="cardDisplay">

    </div>




    <!-- JavaScript dependencies -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- Script: Smooth scrolling between anchors in the same page -->
    <script src="js/smooth-scroll.js"></script>
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
      data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script src="js/popup.js"></script>
    <script src="js/scripts.js"></script>
    <script>
      // Function for parsing JSON Objects from URL
      function getJSON(url) {
        let resp;
        let xmlHttp;

        resp = '';
        xmlHttp = new XMLHttpRequest();

        if (xmlHttp != null) {
          xmlHttp.open("GET", url, false);
          xmlHttp.send(null);
          resp = xmlHttp.responseText;
        }

        return resp;
      }

      // Function that calculates the correct number of rows/cols for entries
      window.onload = function calc() {
        const stuff = getJSON(
          'https://my.mlh.io/api/v2/users?client_id=12b2e8829c334f7d582b8ca8b08729a3e482709c61077c98219d875ebccc9c84&secret=4d5878e84f460fa9fd9d32d69d82b4d2346646f7abfae1847d9177ce115770c7'
        )

        const obj = JSON.parse(stuff);
        let element;
        for (let i = 0; i < obj.data.length; i++) {
          element = obj.data[i];
          $('<div class="row text-center">\
              <div class="col-md-2">' + (i + 1) +
            '</div>\
              <div class="col-md-2">' + element.first_name + ' ' + element.last_name +
            '</div>\
              <div class="col-md-2">' + element.email +
            '</div>\
              <div class="col-md-2">' + element.school.name +
            '</div>\
              <div class="col-md-2">' + element.shirt_size +
            '</div>\
              <div class="col-md-2">' + element.dietary_restrictions +
            '</div>\
            </div>').appendTo("#cardDisplay")
        }
      }
    </script>
</body>