<div class="row" id="section1">
    <div class="col-md-12 col-12" style="text-align:center;">
         <img src="images/ComputerClub_Logo.png" style="width:50%;"/>
        <br/>
        {{!-- <a href="/login" class="foldBtn"><i class="fas fa-sign-in-alt"></i>&nbsp; Login</a>
        &nbsp;&nbsp;&nbsp; --}}
        <a href="/preregister" class="foldBtn"><i class="fas fa-user-plus"></i>&nbsp; Pre-Register</a>
        &nbsp;&nbsp;&nbsp;
        <a href="#FAQ" class="foldBtn">F.A.Q.</a>
    </div>
</div>
<br/>
<div class="row" id="section2">
    <!-- this will only show during the when the hackathon is taking place -->
    <div class="col-md-6 col-12" style="text-align:center;">
        <h3>The Shedule would go here</h3> 
        <ul></ul>
    </div>
    <div class="col-md-6 col-12" style="text-align:center;">
        <h3>Floor Plan</h3>
        <img src="https://www.edrawsoft.com/templates/images/school-layout.png"/>
   </div>    
</div>
<br/>
<div class="row" id="section3">
    <!-- showing some general QnA -->
    <div class="col-md-6">
        Questions will go here
    </div>
    <div class="col-md-6">
        and the answers will be showen here
    </div>    
</div>
<br/>
<div class="row" id="section4">
     <div class="col-md-12">
        Sponsors
    </div>
</div>