<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-130769180-1"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- PAGE settings -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <meta name="description" content="Montclair State Hackathon" />
    <meta
      name="keywords"
      content="montclair state university hackathon hackhawk"
    />
    <!-- Adding bootstrap, custom css files, and fontawsome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-130769180-1");
    </script>

    <meta charset="utf-8" />

    <title>HawkHack Spring 2019</title>
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">HawkHack</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about-anchor"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger hide" href="#schedule-anchor"
                >Schedule</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#faq-anchor">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sponsors-anchor"
                >Sponsors</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="section intro-bg gradient" id="intro">
      <div class="gradient">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-sm-12">
                  <img id="logo" src="/images/hhlogo-l.png" />
                  <h2 id="title">
                    HawkHack Will Be Back
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <a class="anchor" id="about-anchor"></a>
    <section id="about" class="section text-dark">
      <div class="container">
        <div class="row">
          <div class="col-12 aboutTitle text-center">
            <h2>What is this?</h2>
            <hr />
          </div>
          <div class="col-lg-12 aboutText">
            <p>
              HawkHack is a 24-hour hackathon event at Montclair State
              University. Students of any majors are welcome to form a team and
              build awesome software and hardware projects. Industry experts and
              mentors will be there to help and guide students and create a
              learning environment through talks, workshops, and one-on-one
              guidance. We encourage anyone from beginner to advanced developers
              to challenge themselves and create something awesome.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section text-dark" id="past-events">
        <div class="container">
            <div class="row">
              <div class="section-title text-center">
                <h2>Past Events</h2>
                <hr />
              </div>
            </div>
            <div class="row">
              <div class="col-12 ">
                <div class="row justify-content-center">
                    <h3>HawkHack Spring 2019</h3>
                  </div>
                    <div class="row justify-content-center">
                      <div class="col-8 col-sm-12">
                        <div class="carousel slide" id="mycar" data-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active"><img src="./images/spring2019/033019_0036_Hackathon.jpg" alt="HawkHack Team" width="100%" height="auto"></div>
                            <div class="carousel-item"><img src="./images/spring2019/033019_0018_Hackathon.jpg" alt="Rocky at HawkHack" width="100%" height="auto"></div>
                            <div class="carousel-item"><img src="./images/spring2019/033019_0028_Hackathon.jpg" alt="Team communication" width="100%" height="auto"></div>
                            <div class="carousel-item"><img src="./images/spring2019/033019_0040_Hackathon.jpg" alt="Hacking area view" width="100%" height="auto"></div>
                            <div class="carousel-item"><img src="./images/spring2019/033019_0054_Hackathon.jpg" alt="Teams working" width="100%" height="auto"></div>
                            <div class="carousel-item"><img src="./images/spring2019/033019_0066_Hackathon.jpg" alt="Team building" width="100%" height="auto"></div>
                            <div class="carousel-item"><img src="./images/spring2019/033019_0002_Hackathon.jpg" alt="Check-in Line" width="100%" height="auto"></div>
                          </div>
                        </div>
                        <a href="#mycar" class="carousel-control-prev" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a href="#mycar" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                          </a>

                      </div>
                    </div>
              </div>
            </div>
        </div>
      </section>

    <a class="anchor" id="schedule-anchor"></a>
    <section id="schedule" class="section scheduleSection skew hide">
      <div class="gradient">
        <div class="unskew">
          <div class="container text-center">
            <h2>Schedule</h2>
            <hr />
            <div class="row justify-content-center">
              <div class="col-lg-6 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Saturday, March 30</h5>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <p class="time">9:00 AM</p>
                      <p>Check in</p>
                    </div>
                    <div class="row">
                      <p class="time">10:00 AM</p>
                      <p>Opening Ceremony</p>
                    </div>
                    <div class="row">
                      <p class="time">11:00 AM</p>
                      <p>Hacking Begins</p>
                    </div>
                    <div class="row">
                      <p class="time">11:00 AM</p>
                      <p>Team Building Activity</p>
                    </div>
                    <div class="row">
                      <p class="time">11:30 AM</p>
                      <p>Lunch</p>
                    </div>
                    <div class="row">
                      <p class="time">12:30 PM</p>
                      <p>Google Talk: Telling Your Technology Story</p>
                    </div>
                    <div class="row">
                      <p class="time">2:00 PM</p>
                      <p>Google Workshop: How To Use GCP Credits</p>
                    </div>
                    <div class="row">
                      <p class="time">3:30 PM</p>
                      <p>Netflix & Lifion Talk: Hackathon Tactics</p>
                    </div>
                    <div class="row">
                      <p class="time">5:00 PM</p>
                      <p>UPS Workshop: NLP and Virtual Assistants</p>
                    </div>
                    <div class="row">
                      <p class="time">6:30 PM</p>
                      <p>Dinner</p>
                    </div>
                    <div class="row">
                      <p class="time">7:30 PM</p>
                      <p>Cup Stacking</p>
                    </div>
                    <div class="row">
                      <p class="time">8:00 PM</p>
                      <p>Gaming Area Opens</p>
                    </div>
                    <div class="row">
                      <p class="time">8:40 PM</p>
                      <p>Nerf Gun Battle Royale</p>
                    </div>
                    <div class="row">
                      <p class="time">11:00 PM</p>
                      <p>Party Games</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Sunday, March 31</h5>
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <p class="time">12:00 AM</p>
                          <p>Gaming Area Closes</p>
                        </div>
                    <div class="row">
                      <p class="time">12:00 AM</p>
                      <p>Midnight Snack</p>
                    </div>
                    <div class="row">
                      <p class="time">1:00 AM</p>
                      <p>Party Games End</p>
                    </div>
                    <div class="row">
                      <p class="time">1:00 AM</p>
                      <p>HawkHack T-Shirt Handout</p>
                    </div>
                    <div class="row">
                      <p class="time">6:30 AM</p>
                      <p>Breakfast</p>
                    </div>
                    <div class="row">
                      <p class="time">11:00 AM</p>
                      <p>Hacking Ends</p>
                    </div>
                    <div class="row">
                      <p class="time">11:00 PM</p>
                      <p>Lunch</p>
                    </div>
                    <div class="row">
                      <p class="time">12:00 PM</p>
                      <p>Judging and Demos</p>
                    </div>
                    <div class="row">
                      <p class="time">2:15 PM</p>
                      <p>Closing Ceremony</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <a class="anchor" id="faq-anchor"></a>
    <section id="faq" class="section text-dark">
      <div class="container">
        <div class="row">
          <div class="section-title text-center">
            <h2>FAQ</h2>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div class="row">
              <div class="col question">
                <h4>What is a hackathon?</h4>
                <span>
                  Hackathons are an intense event that bring together software
                  developers, graphic designers and user interface specialists
                  along with industry process experts and professionals to
                  identify issues and create software solutions, usually within
                  a weekend.
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>What is the goal of the hackathon?</h4>
                <span>
                  We want to create an environment that embraces new ideas and
                  technology solutions. A place where people passionate in
                  technology can come innovate the industry.
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>I'm new, what should I do?</h4>
                <span>
                  We would love to have you at HawkHack! Throughout the event we
                  will be hosting workshops where you can try new things, start
                  a project for that idea you always had in mind, and receive
                  help from industry experts.
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>How much coding experience do I need?</h4>
                <span>
                  Absolutely none. Hackathons are a great place to learn and get
                  advice from experienced hackers. We'll also host plenty of
                  workshops and have plenty of mentors so by the end of the 24
                  hours you'll have a working project even if you haven't coded
                  a day in your life before. We also host a prize for best
                  beginner hack.
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>Who can come?</h4>
                <span>
                  If you're at a current college/university student, a recent
                  graduate (up to 1 year), or a high school student, you're more
                  than welcome to attend! We are open to students of all
                  academic backgrounds and skill levels, so whether you’re an
                  aspiring artist or an expert engineer, there’s a place for you
                  at HawkHack!
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>Do I need a team?</h4>
                <span>
                  You are welcome to come solo or in a group no more than 4. We
                  will provide means for you to find a team if you don’t have
                  one.
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>What if I can't stay for full 24 hours?</h4>
                <span>
                  That is fine! Although we encourage you to do so and make the
                  best of the event, you are free to leave whenever you want and
                  come back later.
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="row">
              <div class="col question">
                <h4>How much does it cost to attend?</h4>
                <span>
                  FREE, that’s how much. The event is completely FREE to attend.
                  FREE food, FREE games, FREE fun. Sounds good, doesn’t it?
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>Do I need to bring a computer?</h4>
                <span>
                  Yes, all participants must come with their own laptop if they
                  intend to code during the competition. Laptops will not be
                  provided.
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>Will hardware be provided?</h4>
                <span>
                  Not at this time, but students are encouraged to bring their
                  own if they have a specific device in mind they would like to
                  use.
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>How will I get there?</h4>
                <span>
                  You are responsible for finding your own transportation.
                  Ideally, try and find a ride because we don't recommend
                  driving back for safety reasons after a hackathon. We can help
                  find you a carpool. We will not be providing travel
                  reimbursement at this time.
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>Can I win anything?</h4>
                <span>
                  Yes! The only way to find out is to participate in the
                  hackathon!
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>How will I get there?</h4>
                <span>
                  Just click the big "Register Now" button up top. Make sure you
                  check your email too since we'll be having your verify your
                  email address and sending acceptances through there too!
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>Do you guys have a slack?</h4>
                <span>
                  Yes we do! You can join it here:
                  <a
                    href="https://join.slack.com/t/hawkhack/shared_invite/enQtNTU0MDQyNTQyNjc0LThmMGExYjIxMjk0MDRkZjMxMjQ5YjM0ZjU3YzQzNTEzMGI4ZDA5OTNlMDg3OTcwODQwNTc0YTJmN2NlNzgxMDc"
                  >
                    join.slack.com/t/hawkhack</a
                  >
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>How can I or my company become a sponsor?</h4>
                <span>
                  If you'd like to sponsor, please send us an email at
                  team@hawkhack.io and our team will get back to you promptly.
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col question">
                <h4>I have another question!</h4>
                <span>
                  For anymore questions, you can reach us on our slack which you
                  can join here:
                  <a
                    href="https://join.slack.com/t/hawkhack/shared_invite/enQtNTU0MDQyNTQyNjc0LThmMGExYjIxMjk0MDRkZjMxMjQ5YjM0ZjU3YzQzNTEzMGI4ZDA5OTNlMDg3OTcwODQwNTc0YTJmN2NlNzgxMDc"
                  >
                    join.slack.com/t/hawkhack.
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <a class="anchor" id="sponsors-anchor"></a>
    <section id="sponsors" class="section text-dark">
      <div class="container">
        <div class="row">
          <div class="section-title text-center">
            <h2>Sponsors</h2>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 justify-content-around sponsor-row">
            <a href="https://www.ups.com">
              <img src="./images/ups.png" width="100px" height="auto" />
            </a>
          </div>
          <div class="col-lg-6 justify-content-around sponsor-row">
            <a href="https://www.bnymellon.com/us/en/home.jsp" class="sponsor">
              <img src="./images/bnymellon.png" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 justify-content-around sponsor-row">
            <a href="https://www.google.com" class="sponsor">
              <img src="./images/Googles-Logo.png" />
            </a>
          </div>
          <div class="col-lg-6 justify-content-around sponsor-row">
            <a href="https://monsterenergy.com">
              <img
                src="./images/monsterenergy.png"
                width="200px"
                height="auto"
              />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 justify-content-around sponsor-row">
            <a href="https://www.montclair.edu/graduate/">
              <img src="./images/TGS2.png" width="300px" height="auto" />
            </a>
          </div>
          <div class="col-lg-6 justify-content-around sponsor-row">
            <a href="https://www.montclaircomputerclub.com/" class="sponsor">
              <img src="./images/ComputerClub_Logo.png" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer class="text-center p-2 text-light" id="footer">
      <div class="container">
        <div class="row text-md-left">
          <div class="col-md-12 d-flex justify-content-center p-1">
            <h3>Stay in Touch!</h3>
          </div>
          <div class="col-md-12 d-flex justify-content-center p-1">
            <div class="p-1">
              <a
                class="socbt"
                href="https://www.facebook.com/msucomputerclub"
                target="blank"
              >
                <i class="fab fa-facebook"></i>
              </a>
            </div>
            <div class="p-1">
              <a
                class="socbt"
                href="https://twitter.com/msucomputerclub"
                target="blank"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div class="p-1">
              <a
                class="socbt"
                href="https://www.instagram.com/msucomputerclub/"
                target="blank"
              >
                <i class="hover fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-center p-1">
            <p class="text-muted">
              © 2018 Copyright: HawkHack
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script
      type="text/javascript"
      src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
      data-dojo-config="usePlainJson: true, isDebug: false"
    ></script>

    <script src="js/scripts.js"></script>
  </body>
</html>
