<container class="text-center">
  <!-- Navbar -->

  <!-- Cover -->
  <div class="d-flex align-items-center section-aquamarine py-5 cover" style="background-image: url(images/hero.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <h1 class="display-2">HawkHack</h1>
            <h2>Montclair State's Hackathon</h2>
            <h3 class="display-5">Get on our mailing list</h3>
            <br />
            <a id="popup1" target="_blank" class="btn btn-lg btn-outline-light">Pre-Register
              Now</a>
            <a class="btn btn-lg btn-outline-light" id="ContactUsBtn">Contact Us</a>
          </div>
          <form action="/landing/contact" id="contactform" method="POST" role="form" style="display:none;">
            <fieldset>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input id="name" name="name" type="text" placeholder="Your name" required="required" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input id="email" name="email" type="text" placeholder="Your email" required="required" class="form-control">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input id="subject" name="subject" type="text" placeholder="Subject" required="required" class="form-control">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea style="height: 150px;" id="message" name="message" placeholder="Enter your message here"
                      rows="3" required="required" class="form-control"></textarea>
                  </div>
                  <button type="submit" class="btn btn-lg btn-outline-light">Send</button>
                  <a class="btn btn-lg btn-outline-light" id="cancel">Cancel</a>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- About -->
  {{!-- <div class="py-5 section-parallax" style="background-image: url(images/msulanding.jpg);" id="about">
    <div class="container" style="background-color:#f3f3f3; padding:2rem;">
      <h1>Location</h1>
      <br />
      <div class="row mx-auto">
        <div class="col-md-12" style="height: 20em;">
          <iframe frameborder="0" width="100%" height="100%" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJA85Zqc7_wokRxw6E4CIJnB4&key=AIzaSyB4FZgCk09zSlEACZ5epM4h02W65vLjBDw"></iframe>
        </div>
        <div class="col-md-12">
          <a href="#schedule" class="btn btn-outline-primary btn-lg m-2">Schedule</a>
          <a class="btn btn-primary btn-lg m-2" href="http://eepurl.com/dOOzHL" target="_blank">Pre-Register</a>
        </div>
      </div>
    </div>
  </div>--}}
  <div class="background">
    <div class="row" id="AboutUs">
      <div class="col-md-12" style="text-align:left;">
        <div class="inner">
          <h1><i class="fas fa-person-booth"></i>&nbsp; About Us</h1>
          <hr style="border-top: 2px solid navajowhite; width:15%; margin-right:135em;">
        </div>
      </div>
      <div class="col-md-7 text-md-left">
        <div class="inner">
          <h2><i class="far fa-address-card"></i>&nbsp; Who We Are</h2>
          <p>
            HawkHack is a 24-hour hackathon at Montclair State University. We welcome hundreds of students to join us
            in
            building
            awesome software and hardware projects. Industry experts and mentors come from all over the country to
            create
            an environment that fosters an atmosphere of learning through tech talks and one-on-one guidance. We
            encourage beginner and advanced hackers alike to challenge themselves and expand their skills. Learn more
            about HackRU by reading our articles on Medium!
          </p>
          <div class="row">
            <div class="col-md-3 text-center">
              <i class="fas fa-mouse-pointer fa-2x"></i>
              <br />
              <h4>WEB DEV</h4>
            </div>
            <div class="col-md-3 text-center">
              <i class="fas fa-mobile-alt fa-2x"></i>
              <br />
              <h4>MOBILE DEV</h4>
            </div>
            <div class="col-md-3 text-center">
              <i class="fas fa-microchip fa-2x"></i>
              <br />
              <h4>HARDWARE</h4>
            </div>
            <div class="col-md-3 text-center">
              <i class="fas fa-paint-brush fa-2x"></i>
              <br />
              <h4>DESIGN</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 text-md-left">
        <div class="inner">
          <h2>
            <i class="fas fa-plane-arrival"></i>&nbsp; Where are we located?
          </h2>
          <iframe frameborder="0" width="100%" height="200px" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJA85Zqc7_wokRxw6E4CIJnB4&key=AIzaSyB4FZgCk09zSlEACZ5epM4h02W65vLjBDw"></iframe>
        </div>

      </div>
    </div>
  </div>
  <div id="FAQ">
    <div class="row">
      <div class="col-md-12" style="text-align:left;">
        <div class="inner">
          <h1><i class="fas fa-question"></i>&nbsp; FAQs</h1>
          <hr style="border-top: 2px solid navajowhite; width:15%; margin-right:135em;">
        </div>
      </div>
    </div>

    <div class="row text-md-left">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="inner">
              <h3>WHAT IS A HACKATHON?</h3>
              <p>Hackathon is an intense event that brings together computer programmers like software developers,
                graphic designers and user interface specialists along with industry process experts and professionals
                to
                identify issues and create software solutions, usually within a weekend.</p>
              <br />
              <h3>WHAT IS THE GOAL OF THE HACKATHON?</h3>
              <p>We want to create an environment that embraces new ideas and technology solutions for the AEC
                Industry. A place where technology designers and developers can come to help the industry </p>
              <br />
              <h3>WHO CAN COME?</h3>
              <p>HawkHack welcomes undergraduate and graduate students of all majors, backgrounds, and skill levels to
                come create.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="inner">
              <h3>I'M NEW, WHAT SHOULD I DO?</h3>
              <p>That's great! We'd love to have you at HawkHack. Throughout the weekend there will be workshops for
                you
                to get your feet wet, project ideas for you to try out, and mentors to guide you through the process.</p>
              <h3>HOW MUCH DOES IT COST TO ATTEND?</h3>
              <p>Like the best things in life, HawkHack is completely free to attend! We will be providing meals,
                snacks, and drinks for the entire event along with swag on swag on swag.</p>
              <br />
              <h3>CAN I WIN ANYTHING?</h3>
              <p>Yes! We'll release more information about prizes as the event draws near.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Schedule -->
  <div class="py-5 section-parallax" style="background-image: url(images/schedule.jpg); display: none;" id="schedule">
    <div class="container section-aquamarine">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white mt-4">Schedule</h1>
        </div>
      </div>
      <div class="row text-left text-dark">
        <div class="p-4 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 1</h2>
              <p class="lead">Start</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>09:30-10:00
                –<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>10:00-12:00
                –<b>To</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>12:00-13:00
                –<b>My</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>13:00-14:30
                –<b>Day</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>14:30-16:00
                –<b>One</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>16:00-18:00
                –<b>Two</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 2</h2>
              <p class="lead">Middle</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>09:30-10:00
                –<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>10:00-12:00
                –<b>To</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>12:00-13:00
                –<b>My</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>13:00-14:30
                –<b>Day</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>14:30-16:00
                –<b>One</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>16:00-18:00
                –<b>Two</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4">
          <div class="card text-dark">
            <div class="card-block text-center p-2">
              <h2>Day 3</h2>
              <p class="lead">End</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>09:30-10:00
                –<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>10:00-12:00
                –<b>To</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>12:00-13:00
                –<b>My</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>13:00-14:30
                –<b>Day</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>14:30-16:00
                –<b>One</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>16:00-18:00
                –<b>Two</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sponsor logos -->
  <div class="py-5 section bg-faded bg-light" id="sponsors">
    <div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Organaizor</h2>
          <br />
          <a href="https://www.montclaircomputerclub.com" target="_blank">
            <img style="width:50em;" src="http://www.montclaircomputerclub.com/wp-content/uploads/2018/10/cropped-ComputerClub_Logo-3.png" />
          </a>
        </div>
      </div>
      <div class="row" style="margin-top:2rem;">
        <div class="col-md-12">
          <h1 class="mb-4">Sponsors</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6">
          <a href="https://www.bnymellon.com/us/en/home.jsp" target="_blank">
            <img style="width:13em;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Bank-of-New-York-Mellon-Logo.svg/2000px-Bank-of-New-York-Mellon-Logo.svg.png" />
          </a>
        </div>
        <div class="col-md-3 col-6">
          <a href="https://www.Google.com" target="_blank">
            <img style="width:20em;" src="/images/Googles-Logo.png" />
          </a>
        </div>
        <div class="col-md-3 col-6">
          <a href="https://www.jpmorgan.com/country/US/en/jpmorgan" target="_blank">
            <img style="width:35em;" src="/images/JPMorganChaseLogo.png" />
          </a>
        </div>
        <div class="col-md-3 col-6">
          <a href="https://www.github.com" target="_blank">
            <img style="width:20em;" src="/images/GitHubLogo.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Call to action -->
  {{!-- <div class="py-5 section-aquamarine" id="register" style="display:none;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-md-left text-center">
          <h1 class="text-white">Sign up to our mailing list</h1>
          <p>Pre-register to get a priority access to the event. Fares will be published later on. <br>Get the
            maximum from the lectures together with the possibility of joining exclusive side-events.</p>
        </div>
        <div class="col-md-4 align-self-center animate-in-right">
          <a href="" class="btn btn-lg btn-light my-3">Sign Up</a>
        </div>
      </div>
    </div>
  </div> --}}
</container>