<!DOCTYPE html>
<html>


<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130769180-1"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- PAGE settings -->
  <link rel="icon" href="" />
  <meta name="description" content="Montclair State Hackathon" />
  <meta name="keywords" content="montclair state university hackathon hackhawk" />
  <!-- Adding bootstrap, custom css files, and fontawsome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />


  <link rel="stylesheet" href="css/styles.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-130769180-1");
  </script>


  <meta charset="utf-8" />

  <title>HawkHack</title>

</head>

<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">HawkHack</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about-anchor">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#schedule-anchor">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#faq-anchor">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#sponsors-anchor">Sponsors</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="section intro-bg gradient" id="intro">
    <div class="gradient">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <img id="logo" src="/images/logo.svg">
              <h2 id="title">
                Montclair State's Hackathon
              </h2>
              <a class="regbtn"
                href="https://my.mlh.io/oauth/authorize?client_id=ea5775c879a6e062b5a49483220810ad41e7276c90ecc6a4cdd638820bf10beb&redirect_uri=http://www.hawkhack.io/&response_type=token">
                Register Now
              </a>
              <a class="btn btn-lg btn-outline-light" style="display:none" id="ContactUsBtn">Contact Us</a>
            </div>
            <form action="/contact" id="contactform" method="POST" role="form" style="display:none;">
              <fieldset>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input id="name" name="name" type="text" placeholder="Your name" required class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input id="email" name="email" type="text" placeholder="Your email" required="required"
                        class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input id="subject" name="subject" type="text" placeholder="Subject" required="required"
                        class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea style="height: 150px;" id="message" name="message" placeholder="Enter your message here"
                        rows="3" required="required" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-outline-light">
                      Send
                    </button>
                    <a class="btn btn-lg btn-outline-light" id="cancel">Cancel</a>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a class="anchor" id="about-anchor"></a>
  <section id="about" class="section text-dark">
    <div class="container">
      <div class="row">
        <div class="col-12 aboutTitle text-center">
          <h2>What is this?</h2>
          <hr class="divider">
          </hr>
        </div>
        <div class="col-lg-12 aboutText">
          <p>Welcome to Montclair State's first ever annual Hackathon</p>
          <p> HawkHack is a 24-hour hackathon at Montclair State University. We welcome hundreds of students to join us
            in building awesome software and hardware projects.
            We encourage beginner and advanced hackers
            alike to challenge themselves and expand their skills. </p>
        </div>
        <div class="row" style="width: 100%">
          <div class="col-12 aboutTitle text-center">
            <h2>When and Where?</h2>
          </div>
        </div>
        <div class="col-lg-12 aboutText">
          <p><b>Saturday, March 30th and Sunday March 31st</b> in the <b>Student
              Center</b></p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="map">
          <iframe frameborder=0
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJw6dxo8v_wokRsipvcsmq9Nk&key=AIzaSyB4FZgCk09zSlEACZ5epM4h02W65vLjBDw&zoom=13"></iframe>
        </div>
      </div>
    </div>
  </section>

  <a class="anchor" id="schedule-anchor"></a>
  <section id="schedule" class="section scheduleSection">
    <div class="gradient">
      <div class="container text-center">
        <h2>Schedule</h2>
        <div class="divider">
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Saturday, March 30</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <p class="time">9:00 AM</p>
                  <p>Check in</p>
                </div>
                <div class="row">
                  <p class="time">10:00 AM</p>
                  <p>Opening Ceremony</p>
                </div>
                <div class="row">
                  <p class="time">11:00 AM</p>
                  <p>Hacking Begins</p>
                </div>
                <div class="row">
                  <p class="time">12:00 PM</p>
                  <p>Lunch</p>
                </div>
                <div class="row">
                  <p class="time">7:00 PM</p>
                  <p>Dinner</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Sunday, March 31</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <p class="time">12:00 AM</p>
                  <p>Midnight Snack</p>
                </div>
                <div class="row">
                  <p class="time">9:00 AM</p>
                  <p>Breakfast </p>
                </div>
                <div class="row">
                  <p class="time">11:00 AM</p>
                  <p>Hacking ends </p>
                </div>
                <div class="row">
                  <p class="time">12:00 PM</p>
                  <p>Lunch </p>
                </div>
                <div class="row">
                  <p class="time">3:00 PM</p>
                  <p>Closing Ceremony </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a class="anchor" id="faq-anchor"></a>
  <section id="faq" class="section text-dark">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h2>FAQ</h2>
          <div class="divider"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="row">
            <div class="col question">
              <h4>What is a hackathon?</h4>
              <span>In this context, the word "hack" means to create.
                A hackathon is an event where people come together for
                24 hours to make something using the wonders of technology. But,
                the goal of a hackathon isn't just to create something: it's also to
                learn. Hackathons are the time to experiment with new technologies, APIs, SDKs, or
                learn to code from scratch.
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col question">
              <h4>How much coding experience do I need?</h4>
              <span>None at all. Hackathons are a fantastic place to
                learn and get advice from experienced hackers. We'll also
                host plenty of workshops and have plenty of mentors so by the end of the
                24 hours you'll have a working project even if you haven't coded a day in your life
                before. We also host a prize for best beginner hack.</span>
            </div>
          </div>
          <div class="row">
            <div class="col question">
              <h4>Who can come?</h4>
              <span>PackHacks is open to both high school and college students
                (Cubs and Wolves divisions). High school students will compete only against each
                other and will have 12 hours rather than the full 24 to complete their projects. However,
                they will still be allowed to participate in all activities and workshops while attending.
                An awards ceremony for just high school students will then be held on Saturday after the 12
                hour mark. College students will continue coding until the 24 hour mark has been reached on
                Sunday.</span>
            </div>
          </div>
          <div class="row">
            <div class="col question">
              <h4>Who do I contact?</h4>
              <span>msuhawkhack@gmail.com</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="row">
            <div class="col question">
              <h4>How much does the event cost?</h4>
              <span>$0 - PackHacks is 100% free for everyone to attend!</span>
            </div>
          </div>
          <div class="row">
            <div class="col question">
              <h4>How does the competition work?</h4>
              <span>Teams of up to 4 will work together to code or build a project and present it to the judges.
                This project can be or do anything; there are no constraints on what teams are allowed to develop. The
                judges
                will then select the best overall projects as well as projects which excel in certain criteria (most
                creative,
                best looking, etc). Every project must be fully completed at the hackathon - no outside work/help is
                permitted.</span>
            </div>
          </div>
          <div class="row">
            <div class="col question">
              <h4>Do I need to bring a computer?</h4>
              <span>Yes, all participants must come with their own laptop if they intend to code during the competition.
                Laptops cannot be provided.</span>
            </div>
          </div>
          <div class="row">
            <div class="col question">
              <h4>Will hardware be provided?</h4>
              <span>Yes, a limited amount of hardware will be provided, but students are encouraged to
                bring their own if they have a specific device in mind they would like to use.</span>
            </div>
          </div>
          <div class="row">
            <div class="col question">
              <h4>How will I get there?</h4>
              <span>You are responsible for finding your own transportation. Ideally, try and find a ride because we
                don't
                recommend driving back
                for safety reasons after a hackathon. We can help find you a carpool. We will not be providing travel
                reimbursement at this time.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a class="anchor" id="sponsors-anchor"></a>
  <section id="sponsors" class="section text-dark">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h2>Sponsors</h2>
          <div class="divider"></div>
        </div>
      </div>
      <div class="row" id="sponsor-imgs">
        <div class="col justify-content-around sponsor-row">
          <a href="https://www.google.com" class="sponsor">
            <img src="./images/Googles-Logo.png">
          </a>
        </div>
        <div class="col justify-content-around sponsor-row">
          <a href="https://www.montclaircomputerclub.com/" class="sponsor">
            <img src="./images/ComputerClub_Logo.png">
          </a>
        </div>
      </div>
    </div>
  </section>
  <footer class="text-center p-2 text-light" id="footer">
    <div class="container">
      <div class="row text-md-left">
        <div class="col-md-12 d-flex justify-content-center p-1">
          <h3>Stay in touch</h3>
        </div>
        <div class="col-md-12 d-flex justify-content-center p-1">
          <div class="p-1">
            <a class="socbt" href="" target="blank"><i class="fab fa-facebook"></i></a>
          </div>
          <div class="p-1">
            <a class="socbt" href="" target="blank"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="p-1">
            <a class="socbt" href="https://www.instagram.com/msucomputerclub/" target="blank">
              <i class="hover fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center p-1">
          <p class="text-muted">
            © 2018 Copyright: HawkHack
          </p>
        </div>
      </div>

  </footer>
  <!-- JavaScript dependencies -->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- 
  Script: Smooth scrolling between anchors in the same page
  <script src="js/smooth-scroll.js"></script> -->

  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
    data-dojo-config="usePlainJson: true, isDebug: false"></script>

  <script src="js/scripts.js"></script>
</body>

</html>