<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130769180-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-130769180-1");
    </script>
    <meta charset="utf-8" />
    <title>HawkHack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- PAGE settings -->
    <link rel="icon" href="" />
    <meta name="description" content="Montclair State Hackathon" />
    <meta name="keywords" content="montclair state university hackathon hackhawk" />
    <!-- Adding bootstrap, custom css files, and fontawsome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />

    <link rel="stylesheet" href="css/landing.css" type="text/css" />
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css" />
  </head>
  <body>
    <container class="text-center">
      <!-- Cover -->
      <div class="d-flex align-items-center section-aquamarine py-5 img cover" id="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <h1 class="herotitle">HawkHack</h1>
                <h2>Montclair State's Hackathon</h2>
                <h3 class="display-5">Get on our mailing list</h3>
                <br />
                <a id="popup1" target="_blank" class="btn btn-lg btn-outline-light">Pre-Register Now</a>
                <a
                  style="display: none;"
                  class="btn btn-lg btn-outline-light"
                  href="https://my.mlh.io/oauth/authorize?client_id=ea5775c879a6e062b5a49483220810ad41e7276c90ecc6a4cdd638820bf10beb&redirect_uri=http://www.hawkhack.net/&response_type=token"
                  >Register</a
                >
                <a class="btn btn-lg btn-outline-light" style="display:none" id="ContactUsBtn">Contact Us</a>
              </div>
              <form action="/contact" id="contactform" method="POST" role="form" style="display:none;">
                <fieldset>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input
                          id="name"
                          name="name"
                          type="text"
                          placeholder="Your name"
                          required="required"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input
                          id="email"
                          name="email"
                          type="text"
                          placeholder="Your email"
                          required="required"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          id="subject"
                          name="subject"
                          type="text"
                          placeholder="Subject"
                          required="required"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea
                          style="height: 150px;"
                          id="message"
                          name="message"
                          placeholder="Enter your message here"
                          rows="3"
                          required="required"
                          class="form-control"
                        ></textarea>
                      </div>
                      <button type="submit" class="btn btn-lg btn-outline-light">Send</button>
                      <a class="btn btn-lg btn-outline-light" id="cancel">Cancel</a>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="linear">
        <div class="">
          <div class="background">
            <div class="row" id="AboutUs">
              <div class="col-md-12 sectitle">
                <div class="inner">
                  <h1><img src="https://img.icons8.com/clouds/96/000000/about.png" />&nbsp; About Us</h1>
                </div>
              </div>
              <div class="col-md-12 text-md-left">
                <div class="">
                  <h2><img src="https://img.icons8.com/color/64/000000/identity-theft.png" />&nbsp; Who We Are</h2>
                  <p>
                    HawkHack is a 24-hour hackathon at Montclair State University. We welcome hundreds of students to
                    join us in building awesome software and hardware projects. Industry experts and mentors come from
                    all over the country to create an environment that fosters an atmosphere of learning through tech
                    talks and one-on-one guidance. We encourage beginner and advanced hackers alike to challenge
                    themselves and expand their skills.
                  </p>
                  <div class="row">
                    <div class="col-md-3 text-center marginBottom">
                      <img src="https://img.icons8.com/dusk/64/000000/web-design.png" /> <br />
                      <h4>WEB DEV</h4>
                    </div>
                    <div class="col-md-3 text-center marginBottom">
                      <img src="https://img.icons8.com/dusk/64/000000/two-smartphones.png" /> <br />
                      <h4>MOBILE DEV</h4>
                    </div>
                    <div class="col-md-3 text-center marginBottom">
                      <img src="https://img.icons8.com/dusk/64/000000/workstation.png" /> <br />
                      <h4>HARDWARE</h4>
                    </div>
                    <div class="col-md-3 text-center marginBottom">
                      <img src="https://img.icons8.com/dusk/64/000000/paint-brush.png" /> <br />
                      <h4>DESIGN</h4>
                    </div>
                    <div class="col-md-3 text-center marginBottom">
                      <img src="https://img.icons8.com/dusk/64/000000/hips.png" /> <br />
                      <h4>CYBERSECURITY</h4>
                    </div>
                    <div class="col-md-3 text-center marginBottom">
                      <img src="https://img.icons8.com/dusk/64/000000/artificial-intelligence.png" /> <br />
                      <h4>AI</h4>
                    </div>
                    <div class="col-md-3 text-center marginBottom">
                      <img src="https://img.icons8.com/dusk/64/000000/blockchain.png" /> <br />
                      <h4>BLOCKCHAIN</h4>
                    </div>
                    <div class="col-md-3 text-center marginBottom">
                      <img src="https://img.icons8.com/dusk/64/000000/3d-printer.png" /> <br />
                      <h4>3D PRINTING</h4>
                    </div>
                  </div>
                </div>
              </div>
              <!-- MAP -->
              <div class="col-md-12 text-md-left" style="margin-top: 2rem;">
                <div class="">
                  <h2><img src="https://img.icons8.com/cotton/64/000000/marker.png" />&nbsp; Where are we located?</h2>
                  <iframe
                    frameborder="0"
                    width="100%"
                    height="350px"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJA85Zqc7_wokRxw6E4CIJnB4&key=AIzaSyB4FZgCk09zSlEACZ5epM4h02W65vLjBDw"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FAQ Section -->
        <div class="tab-content" id="faq-tab-content" style="margin-top: 2rem;">
          <h1><img src="https://img.icons8.com/dusk/64/000000/question-mark.png" /> FAQ</h1>
          <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
            <div class="accordion" id="accordion-tab-1">
              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header " id="accordion-tab-1-heading-1">
                      <h5>
                        <button
                          class="button activeBtn"
                          type="button"
                          data-toggle="collapse"
                          data-target="#accordion-tab-1-content-1"
                          aria-expanded="false"
                          aria-controls="accordion-tab-1-content-1"
                          id="btn1"
                        >
                          WHAT IS A HACKATHON?
                        </button>
                      </h5>
                    </div>
                    <div
                      class="collapse show"
                      id="accordion-tab-1-content-1"
                      aria-labelledby="accordion-tab-1-heading-1"
                      data-parent="#accordion-tab-1"
                    >
                      <div class="card-body">
                        <p>
                          Hackathon is an intense event that brings together computer programmers like software
                          developers, graphic designers and user interface specialists along with industry process
                          experts and professionals to identify issues and create software solutions, usually within a
                          weekend.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-2">
                      <h5>
                        <button
                          class="button"
                          type="button"
                          data-toggle="collapse"
                          data-target="#accordion-tab-1-content-2"
                          aria-expanded="false"
                          aria-controls="accordion-tab-1-content-2"
                        >
                          I'M NEW, WHAT SHOULD I DO?
                        </button>
                      </h5>
                    </div>
                    <div
                      class="collapse"
                      id="accordion-tab-1-content-2"
                      aria-labelledby="accordion-tab-1-heading-2"
                      data-parent="#accordion-tab-1"
                    >
                      <div class="card-body">
                        <p>
                          That's great! We'd love to have you at HawkHack. Throughout the weekend there will be
                          workshops for you to get your feet wet, project ideas for you to try out, and mentors to guide
                          you through the process.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-3">
                      <h5>
                        <button
                          class="button"
                          type="button"
                          data-toggle="collapse"
                          data-target="#accordion-tab-1-content-3"
                          aria-expanded="false"
                          aria-controls="accordion-tab-1-content-3"
                        >
                          WHO CAN COME?
                        </button>
                      </h5>
                    </div>
                    <div
                      class="collapse"
                      id="accordion-tab-1-content-3"
                      aria-labelledby="accordion-tab-1-heading-3"
                      data-parent="#accordion-tab-1"
                    >
                      <div class="card-body">
                        <p>
                          HawkHack welcomes undergraduate and graduate students of all majors, backgrounds, and skill
                          levels to come create.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-4">
                      <h5>
                        <button
                          class="button"
                          type="button"
                          data-toggle="collapse"
                          data-target="#accordion-tab-1-content-4"
                          aria-expanded="false"
                          aria-controls="accordion-tab-1-content-4"
                        >
                          CAN I WIN ANYTHING?
                        </button>
                      </h5>
                    </div>
                    <div
                      class="collapse"
                      id="accordion-tab-1-content-4"
                      aria-labelledby="accordion-tab-1-heading-4"
                      data-parent="#accordion-tab-1"
                    >
                      <div class="card-body">
                        <p>Yes! We'll release more information about prizes as the event draws near.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-5">
                      <h5>
                        <button
                          class="button"
                          type="button"
                          data-toggle="collapse"
                          data-target="#accordion-tab-1-content-5"
                          aria-expanded="false"
                          aria-controls="accordion-tab-1-content-5"
                        >
                          WHAT IS THE GOAL OF THE HACKATHON?
                        </button>
                      </h5>
                    </div>
                    <div
                      class="collapse"
                      id="accordion-tab-1-content-5"
                      aria-labelledby="accordion-tab-1-heading-5"
                      data-parent="#accordion-tab-1"
                    >
                      <div class="card-body">
                        <p>
                          We want to create an environment that embraces new ideas and technology solutions for the AEC
                          Industry. A place where technology designers and developers can come to help the industry.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-6">
                      <h5>
                        <button
                          class="button"
                          type="button"
                          data-toggle="collapse"
                          data-target="#accordion-tab-1-content-6"
                          aria-expanded="false"
                          aria-controls="accordion-tab-1-content-6"
                        >
                          HOW MUCH DOES IT COST TO ATTEND?
                        </button>
                      </h5>
                    </div>
                    <div
                      class="collapse"
                      id="accordion-tab-1-content-6"
                      aria-labelledby="accordion-tab-1-heading-6"
                      data-parent="#accordion-tab-1"
                    >
                      <div class="card-body">
                        <p>
                          Like the best things in life, HawkHack is completely free to attend! We will be providing
                          meals, snacks, and drinks for the entire event along with swag on swag on swag.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Schedule -->
      <!--<div-->
      <!--class="py-5 section-parallax"-->
      <!--style="background-image: url(images/schedule.jpg); display: none;"-->
      <!--id="schedule"-->
      <!--&gt;-->
      <!--<div class="container section-aquamarine">-->
      <!--<div class="row">-->
      <!--<div class="col-md-12">-->
      <!--<h1 class="text-white mt-4">Schedule</h1>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="row text-left text-dark">-->
      <!--<div class="p-4 col-lg-4 col-md-6">-->
      <!--<div class="card">-->
      <!--<div class="card-block text-center card-primary p-2">-->
      <!--<h2>Day 1</h2>-->
      <!--<p class="lead">Start</p>-->
      <!--</div>-->
      <!--<ul class="list-group list-group-flush">-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;09:30-10:00 –<b>Welcome</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;10:00-12:00 –<b>To</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;12:00-13:00 –<b>My</b>-->
      <!--</li>-->
      <!--<li class="list-group-item bg-info">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;13:00-14:30 –<b>Day</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;14:30-16:00 –<b>One</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;16:00-18:00 –<b>Two</b>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="p-4 col-lg-4 col-md-6">-->
      <!--<div class="card">-->
      <!--<div class="card-block text-center card-primary p-2">-->
      <!--<h2>Day 2</h2>-->
      <!--<p class="lead">Middle</p>-->
      <!--</div>-->
      <!--<ul class="list-group list-group-flush">-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;09:30-10:00 –<b>Welcome</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;10:00-12:00 –<b>To</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;12:00-13:00 –<b>My</b>-->
      <!--</li>-->
      <!--<li class="list-group-item bg-info">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;13:00-14:30 –<b>Day</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;14:30-16:00 –<b>One</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;16:00-18:00 –<b>Two</b>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="p-4 col-lg-4">-->
      <!--<div class="card text-dark">-->
      <!--<div class="card-block text-center p-2">-->
      <!--<h2>Day 3</h2>-->
      <!--<p class="lead">End</p>-->
      <!--</div>-->
      <!--<ul class="list-group list-group-flush">-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;09:30-10:00 –<b>Welcome</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;10:00-12:00 –<b>To</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;12:00-13:00 –<b>My</b>-->
      <!--</li>-->
      <!--<li class="list-group-item bg-info">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;13:00-14:30 –<b>Day</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;14:30-16:00 –<b>One</b>-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
      <!--<i class="mx-auto fa d-inline fa-clock-o text-primary"></i-->
      <!--&gt;16:00-18:00 –<b>Two</b>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!-- Sponsor logos -->
      <div class="py-5 section bg-faded bg-light" id="sponsors">
        <div>
          <div class="row justify-content-md-center">
            <div class="col-md-8 text-center">
              <h2>Organizer</h2>
              <br />
              <a href="https://www.montclaircomputerclub.com" target="_blank">
                <img
                  style="width:100%;"
                  src="http://www.montclaircomputerclub.com/wp-content/uploads/2018/10/cropped-ComputerClub_Logo-3.png"
                />
              </a>
            </div>
          </div>
          <div class="row" style="margin-top:2rem;">
            <div class="col-md-12"><h1 class="mb-4">Sponsors</h1></div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-3 col-6">
              <a href="https://www.bnymellon.com/us/en/home.jsp" class="sponsor" target="_blank">
                <img
                  style="width:100%;"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Bank-of-New-York-Mellon-Logo.svg/2000px-Bank-of-New-York-Mellon-Logo.svg.png"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </container>
    <footer class="text-center p-2 bg-dark text-light" id="footer">
      <div class="container">
        <div class="row text-md-left">
          <div class="col-md-6 footcol2">
            <h3>Stay in touch</h3>
            <a class="fbbt" href="" target="blank"><i class="fab fa-facebook"></i></a>
            <a class="twbt" href="" target="blank"><i class="fab fa-twitter"></i></a>
            <a class="igbt" href="https://www.instagram.com/msucomputerclub/" target="blank"
              ><i class="hover fab fa-instagram"></i
            ></a>
          </div>
          <div class="col-md-6 footcol3">
            <h3>Montclair Hackathon</h3>
            <div class="innerfooter">
              <div class="devider">
                <a href="https://goo.gl/maps/ZjGkX8oexvo" target="blank" class="text-muted"
                  >1 Normal Ave, Montclair, NJ 07043</a
                >
              </div>
              <a id="popup2" class="btn btn-lg btn-primary" target="_blank">Pre-register now</a>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-md-12 copyright">
            <p class="text-muted">
              © 2018 Copyright: <a href="https://www.montclaircomputerclub.com/">Montclair Computer Club</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript dependencies -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- Script: Smooth scrolling between anchors in the same page -->
    <script src="js/smooth-scroll.js"></script>
    <script src="js/navbar-ontop.js"></script>
    <script
      type="text/javascript"
      src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
      data-dojo-config="usePlainJson: true, isDebug: false"
    ></script>
    <script src="js/popup.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
