<container class="text-center">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container justify-content-center"> <button class="navbar-toggler navbar-toggler-right border-0" type="button"
        data-toggle="collapse" data-target="#navbar3">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3">
        <ul class="navbar-nav">
          <li class="nav-item mx-2"> <a class="nav-link" href="#about">About</a> </li>
          <li class="nav-item mx-2"> <a class="nav-link" href="#faq">FAQ</a> </li>
          <li class="nav-item mx-2"> <a class="nav-link navbar-brand mr-0 text-primary" href="#"><i class="fa d-inline fa-lg fa-stop-circle-o"></i>
              <b> HackHawk</b></a> </li>
          <li class="nav-item mx-2"> <a class="nav-link" href="#sponsors">Sponsors</a> </li>
          <li class="nav-item mx-2"> <a class="nav-link" href="#contact">Contacts </a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Cover -->
  <div class="d-flex align-items-center section-aquamarine py-5 cover" style="background-image: url(images/hero.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-white mt-5">
          <h1 class="display-2 d-none d-md-block">Montclair Hackathon</h1>
          <h1 class="display-4 d-block d-md-none">Montclair Hackathon</h1>
          <p class="">when people start putting in work, 2020 </p>
          <a href="#register" class="btn btn-lg mt-4 btn-outline-light">Pre-Register Now</a><i class="d-block fa fa-angle-down pt-5 fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- About -->
  <div class="py-5 section-parallax" style="background-image: url(images/msulanding.jpg);" id="about">
    <div class="container my-5 bg-light p-4">
      <div class="row mx-auto">
        <div class="col-md-12">
          <h1 class="mb-3">About our event</h1>
          <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <div class="col-sm-12" style="padding-left: 50px;">
          	<div  class="offset-2" style="align-content: center;border-radius: 30px; width: 500px; height:200px; overflow: hidden;">
            <iframe width="500" height="200" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJA85Zqc7_wokRxw6E4CIJnB4&key=AIzaSyB4FZgCk09zSlEACZ5epM4h02W65vLjBDw"
            allowfullscreen></iframe>
            </div>
            </div>
          <a href="#schedule" class="btn btn-outline-primary btn-lg m-2">Schedule</a>
          <a class="btn btn-primary btn-lg m-2" href="#register">Pre-Register</a>
        </div>
      </div>
    </div>
  </div>
  <!-- FAQ -->
  <div class="py-5 bg-light" id="faq">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>FAQ</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-4 animate-in-left">
          <a href="#">
            <img src="images/people_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Matthew Jong</b></h3>
            <p class="text-muted">UI designer</p>
          </a>
        </div>
        <div class="col-6 col-lg-4">
          <a href="#">
            <img src="images/people_2.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Anna da Vinci</b></h3>
            <p class="text-muted">UX/UI designer</p>
          </a>
        </div>
        <div class="col-6 col-lg-4 animate-in-right">
          <a href="#">
            <img src="images/people_3.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Michael Philips</b></h3>
            <p class="text-muted">UX designer</p>
          </a>
        </div>
        <div class="col-6 col-lg-4 animate-in-left">
          <a href="#">
            <img src="images/people_4.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Emily Wang</b></h3>
            <p class="text-muted">Front-end developer</p>
          </a>
        </div>
        <div class="col-6 col-lg-4">
          <a href="#">
            <img src="images/people_5.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>John Morgan</b></h3>
            <p class="text-muted">Bootstrap evangelist</p>
          </a>
        </div>
        <div class="col-6 mask col-lg-4 animate-in-right">
          <a href="#">
            <img src="images/people_6.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Mary Potter</b></h3>
            <p class="text-muted">Front-end developer</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Schedule -->
  <div class="py-5 section-parallax" style="background-image: url(images/schedule.jpg);" id="schedule">
    <div class="container section-aquamarine">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white mt-4">Schedule</h1>
        </div>
      </div>
      <div class="row text-left text-dark">
        <div class="p-4 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 1</h2>
              <p class="lead">Start</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>09:30-10:00
                –<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>10:00-12:00
                –<b>To</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>12:00-13:00
                –<b>My</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>13:00-14:30
                –<b>Day</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>14:30-16:00
                –<b>One</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>16:00-18:00
                –<b>Two</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 2</h2>
              <p class="lead">Middle</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>09:30-10:00
                –<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>10:00-12:00
                –<b>To</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>12:00-13:00
                –<b>My</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>13:00-14:30
                –<b>Day</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>14:30-16:00
                –<b>One</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>16:00-18:00
                –<b>Two</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4">
          <div class="card text-dark">
            <div class="card-block text-center p-2">
              <h2>Day 3</h2>
              <p class="lead">End</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>09:30-10:00
                –<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>10:00-12:00
                –<b>To</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>12:00-13:00
                –<b>My</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>13:00-14:30
                –<b>Day</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>14:30-16:00
                –<b>One</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>16:00-18:00
                –<b>Two</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sponsor logos -->
  <div class="py-5 section bg-faded bg-light" id="sponsors">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4">Sponsors</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="images/logo_1.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="images/logo_4.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="images/logo_3.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="images/logo_2.png"> </div>
      </div>
    </div>
  </div>
  <!-- Call to action -->
  <div class="py-5 section-aquamarine" id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-md-left text-center">
          <h1 class="text-white">Sign up to our mailing list</h1>
          <p>Pre-register to get a priority access to the event. Fares will be published later on. <br>Get the
            maximum from the lectures together with the possibility of joining exclusive side-events.</p>
        </div>
        <div class="col-md-4 align-self-center animate-in-right">
          <a href="#" class="btn btn-lg btn-light my-3">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</container>