:root {
  --primary: #d1190d;
  --linear: rgba(209, 25, 13, 0.9);
  --secondLinear: rgba(34, 31, 31, 0.9);
  --white: #ffffff;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.section-aquamarine {
  position: relative;
  color: white;
  background-size: cover;
  background-position: center;
}
.section-aquamarine:before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: " ";
  background: linear-gradient(
    to bottom right,
    rgba(209, 25, 13, 0.9) 0%,
    rgba(34, 31, 31, 0.9) 100%
  );
}
.pt-5,
.py-5 {
  padding-top: 4.5rem !important;
}
.selfContainer {
  max-width: 120em;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.img {
  background-image: url("../images/msulanding.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.tab-content .card .button {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left !important;
  font-size: 1.5em;
  cursor: pointer;
}

.tab-content .card .button:focus{
  outline: none;
  outline-color: transparent;
}

.card-header{
  background-color: transparent !important;
}
.card-body{
  background-color: transparent !important;
  font-size: 1.2em;
}

.card-header h5{
  border-bottom: 2px solid var(--primary);
  padding-bottom: .5rem;
  margin: 0;
}

.tab-content{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px){
  .tab-content .card .button{
    font-size: 1em;
    text-align: center !important;
  }
}